<a href="https://colab.research.google.com/github/tbradshaw91/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/College_Majors_Theory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pulling in all of the dataframes related to my research. I may or may not use them all, but it is good to have all of my data in one place to reference.  **

**Data Source: data.world, pulled together from fivethirtyeight**

In [0]:
import pandas as pd 

# Pulling in my DF
ages_df = 'https://query.data.world/s/gpe2sgsocg7ru2jccqrueoxtgyanvq'

# Assigning a new name to call it
ages = pd.read_csv(ages_df)

In [0]:
grad_students_df = 'https://query.data.world/s/dokg22nzpeop44ucb5jddqnafhdpof'
grad_students = pd.read_csv(grad_students_df)

In [0]:
majors_list_df = 'https://query.data.world/s/gm4rcgbkotyels5353ux45uoowkyrh'
majors_list = pd.read_csv(majors_list_df)

In [0]:
recent_grads_df = 'https://query.data.world/s/e64g4m5iajb4afuc2u5gdg4hl5phmp'
recent_grads = pd.read_csv(recent_grads_df)

In [0]:
women_stem_df = 'https://query.data.world/s/fwefnniaqi5qzse5ijnipvrf6fbzgh'
women_stem = pd.read_csv(women_stem_df)

**Now that I have all of my data loaded, I am going to check out what each DF has to offer, look at the shape and select a couple of frames to begin visualizing.**

In [27]:
ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [0]:
grad_students.head()

In [0]:
majors_list.head()

In [0]:
recent_grads.head()

In [0]:
women_stem.head()

**Going to dive into Women Stem and Ages **

In [0]:
# No Nulls? Sweet...
stem.isnull().sum()

# What about the shape and columns?
stem.shape #76,9
stem.columns

Index(['Rank', 'Major_code', 'Major', 'Major_category', 'Total', 'Men',
       'Women', 'ShareWomen', 'Median'],
      dtype='object')