<a href="https://colab.research.google.com/github/Nov05/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/complaints_failed_banks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# created by Nov05 on 2019-06-25

In [2]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy import stats

import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Consumer Complaints

In [4]:
# CAUTION: this dataset is 719 MB in size.

# this doesn't work for this large file 
# (seems that it would work for file under 50 MB)
# url = "https://drive.google.com/uc?id=1giGHkApdv3ehRI7uw4LoLhGT6rN_uR0r"

# this works
# url = "https://data.consumerfinance.gov/api/views/s6ew-h6mp/rows.csv?accessType=DOWNLOAD"
# df = pd.read_csv(url)

# this works
path = "/content/drive/My Drive/data/cfpd_consumer_complaints/Consumer_Complaints.csv"
df = pd.read_csv(path)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5,6,11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# describe non-numeric columns
df.describe(exclude=np.number)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?
count,1315085,1315085,1079919,1315085,779909,389859,466544,1315085,1294526,1195259,179965,710315,1315085,1315085,1315078,1315085,768501
unique,2760,18,76,167,218,372832,10,5321,63,22769,3,4,6,2709,8,2,2
top,09/08/2017,Mortgage,Credit reporting,Incorrect information on your report,Information belongs to someone else,There are many mistakes appear in my report wi...,Company has responded to the consumer and the ...,"EQUIFAX, INC.",CA,300XX,Servicemember,Consent provided,Web,09/08/2017,Closed with explanation,Yes,No
freq,3553,280698,237652,144799,65707,993,327095,120371,180075,7600,87235,390181,972343,3387,1019300,1282414,620123

In [6]:
df['datereceived'] = pd.to_datetime(df['Date received'], 
                                    format="%m/%d/%Y")
df['datesent'] = pd.to_datetime(df['Date sent to company'],
                                format="%m/%d/%Y")
df[['datereceived', 'datesent']].sample(2)

       datereceived   datesent
626166   2016-12-15 2016-12-16
781416   2016-03-02 2016-03-02

In [7]:
# total row count = 1315204
len(df['Complaint ID'].unique())

1315085

#### Consolidate changes in products

https://files.consumerfinance.gov/f/documents/201704_cfpb_Summary_of_Product_and_Sub-product_Changes.pdf

In [23]:
df_prd = (df.fillna('-')
   .groupby(by=['Product', 'Sub-product'], as_index=False)
   .agg({'Complaint ID': pd.Series.nunique})
   .sort_values(by=['Product', 'Complaint ID'], 
                ascending=(True, False))
)
print(df_prd.shape)

(99, 3)

In [0]:
prds = df_prd['Product'].unique()
subs = df_prd['Sub-product'].unique()

In [0]:
# consolidate changes in products - such a pain

def new_prd(row):
  prd, sub = row[0], row[1]
  new_prd = ""
  
  # Debt collection (no change to product name)
  if prd in [prds[7]]:
    new_prd = prds[7]
  # Credit reporting, credit repair services, or other 
  # personal consumer reports (previously “Credit reporting”
  # and sub-products of “Other financial service”)
  elif prd in [prds[5], prds[6]]:
    new_prd = prds[6]
  # Mortgage (no change to product name)
  elif prd in [prds[10]]:
    new_prd = prds[10]
  # Credit card or prepaid card (previously “Credit card” 
  # and “Prepaid card”)  
  elif prd in [prds[3], prds[14], prds[4]]:
    new_prd = prds[4]
  # Checking or savings account (previously Bank account 
  # or service)  
  elif prd in [prds[0], prds[1]]:
    new_prd = prds[1]
  # Vehicle loan or lease (previously sub-product of 
  # Consumer loan)  
  elif prd==prds[16] or (prd==prds[2] and sub==subs[8]):
    new_prd = prds[16]
  # Student loan (no change to product name)  
  elif prd in [prds[15]]:
    new_prd = prds[15]
  # Payday loan, title loan, or personal loan (previously 
  # “Consumer loan” and “Payday loan”)
  elif prd in [prds[13], prds[12]] or (prd==prds[2] 
                                       and sub!=subs[8]):
    new_prd = prds[13]
  # Money transfer, virtual currency, or money service 
  # (previously “Money transfers,” “Other financial 
  # service,” and “Prepaid card”)  
  elif prd in [prds[8], prds[17], prds[9], prds[11], 
               prds[14]]:
    new_prd = prds[8]
  
  return new_prd

In [26]:
# consolidate products for the whole dataset
df['new'] = df.iloc[:,1:3].apply(new_prd, axis=1)
# verify consolidation
df[df['new']=='']

Empty DataFrame
Columns: [Date received, Product, Sub-product, Issue, Sub-issue, Consumer complaint narrative, Company public response, Company, State, ZIP code, Tags, Consumer consent provided?, Submitted via, Date sent to company, Company response to consumer, Timely response?, Consumer disputed?, Complaint ID, datereceived, datesent, comp, new]
Index: []

# Failed Banks

In [0]:
# url="http://www.fdic.gov/bank/individual/failed/banklist_utf8.csv"
url = "https://drive.google.com/uc?id=16R-U0x0Cc3tt4UfzmtvTy3z7rjdW8AkJ"
df_banks = pd.read_csv(url, encoding='8859') # seriously? 8859?

In [0]:
# convert datetime 31-May-19
df_banks["closingdate"] = pd.to_datetime(df_banks["Closing Date"], 
                                         format="%d-%b-%y")
df_banks["updateddate"] = pd.to_datetime(df_banks["Updated Date"], 
                                         format="%d-%b-%y")

In [30]:
print(df_banks.shape)
df_banks.head(3)

(556, 9)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,closingdate,updateddate
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,18-Jun-19,2019-05-31,2019-06-18
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,1-Feb-19,2017-12-15,2019-02-01
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,21-Feb-18,2017-10-13,2018-02-21

# join the datasets

In [33]:
df['comp'] = df['Company'].str.upper()
df['comp'].unique()

array(['NATIONWIDE RECOVERY GROUP LLC',
       'ONEMAIN FINANCIAL HOLDINGS, LLC.',
       'HCFS HEALTH CARE FINANCIAL SERVICES, INC.', ...,
       'JLM R.E. INVESTMENTS', 'VALLEY ESTATES ESCROW',
       'ASPEN HOME MORTGAGE GROUP'], dtype=object)

In [32]:
df_banks['bnk'] = df_banks['Bank Name'].str.upper()
df_banks['bnk'].unique()

array(['THE ENLOE STATE BANK', 'WASHINGTON FEDERAL BANK FOR SAVINGS',
       'THE FARMERS AND MERCHANTS STATE BANK OF ARGONIA',
       'FAYETTE COUNTY BANK',
       'GUARANTY BANK, (D/B/A BESTBANK IN GEORGIA & MICHIGAN)',
       'FIRST NBC BANK', 'PROFICIO BANK', 'SEAWAY BANK AND TRUST COMPANY',
       'HARVEST COMMUNITY BANK', 'ALLIED BANK',
       'THE WOODBURY BANKING COMPANY', 'FIRST CORNERSTONE BANK',
       'TRUST COMPANY BANK', 'NORTH MILWAUKEE STATE BANK',
       'HOMETOWN NATIONAL BANK', 'THE BANK OF GEORGIA', 'PREMIER BANK',
       'EDGEBROOK BANK', 'DORAL BANK',
       'CAPITOL CITY BANK & TRUST COMPANY', 'HIGHLAND COMMUNITY BANK',
       'FIRST NATIONAL BANK OF CRESTVIEW', 'NORTHERN STAR BANK',
       'FRONTIER BANK, FSB D/B/A EL PASEO BANK',
       'THE NATIONAL REPUBLIC BANK OF CHICAGO', 'NBRS FINANCIAL',
       'GREENCHOICE BANK, FSB', 'EASTSIDE COMMERCIAL BANK',
       'THE FREEDOM STATE BANK', 'VALLEY BANK',
       'SLAVIE FEDERAL SAVINGS BANK', 'COLUMBIA SAVINGS BANK',
       'AZTECAMERICA BANK\xa0', 'ALLENDALE COUNTY BANK',
       'VANTAGE POINT BANK', 'MILLENNIUM BANK, NATIONAL ASSOCIATION',
       'SYRINGA BANK', 'THE BANK OF UNION', 'DUPAGE NATIONAL BANK',
       'TEXAS COMMUNITY BANK, NATIONAL ASSOCIATION',
       'BANK OF JACKSON COUNTY',
       'FIRST NATIONAL BANK ALSO OPERATING AS THE NATIONAL BANK OF EL PASO\xa0',
       "THE COMMUNITY'S BANK", 'SUNRISE BANK OF ARIZONA',
       'COMMUNITY SOUTH BANK', 'BANK OF WAUSAU',
       'FIRST COMMUNITY BANK OF SOUTHWEST FLORIDA (ALSO OPERATING AS COMMUNITY BANK OF CAPE CORAL)',
       'MOUNTAIN NATIONAL BANK', '1ST COMMERCE BANK',
       'BANKS OF WISCONSIN D/B/A BANK OF KENOSHA', 'CENTRAL ARIZONA BANK',
       'SUNRISE BANK', 'PISGAH COMMUNITY BANK', 'DOUGLAS COUNTY BANK',
       'PARKWAY BANK', 'CHIPOLA COMMUNITY BANK',
       'HERITAGE BANK OF NORTH FLORIDA', 'FIRST FEDERAL BANK',
       'GOLD CANYON BANK', 'FRONTIER BANK', 'COVENANT BANK',
       '1ST REGENTS BANK', 'WESTSIDE COMMUNITY BANK',
       'COMMUNITY BANK OF THE OZARKS', 'HOMETOWN COMMUNITY BANK',
       'CITIZENS FIRST NATIONAL BANK', 'HERITAGE BANK OF FLORIDA',
       'NOVA BANK', 'EXCEL BANK', 'FIRST EAST SIDE SAVINGS BANK',
       'GULFSOUTH PRIVATE BANK', 'FIRST UNITED BANK', 'TRUMAN BANK',
       'FIRST COMMERCIAL BANK', 'WAUKEGAN SAVINGS BANK',
       'JASPER BANKING COMPANY',
       'SECOND FEDERAL SAVINGS AND LOAN ASSOCIATION OF CHICAGO',
       'HEARTLAND BANK', 'FIRST CHEROKEE STATE BANK',
       'GEORGIA TRUST BANK', 'THE ROYAL PALM BANK OF FLORIDA',
       'GLASGOW SAVINGS BANK', 'MONTGOMERY BANK & TRUST',
       'THE FARMERS BANK OF LYNCHBURG', 'SECURITY EXCHANGE BANK',
       'PUTNAM STATE BANK', 'WACCAMAW BANK',
       "FARMERS' AND TRADERS' STATE BANK",
       'CAROLINA FEDERAL SAVINGS BANK', 'FIRST CAPITAL BANK',
       'ALABAMA TRUST BANK, NATIONAL ASSOCIATION',
       'SECURITY BANK, NATIONAL ASSOCIATION', 'PALM DESERT NATIONAL BANK',
       'PLANTATION FEDERAL BANK',
       'INTER SAVINGS BANK, FSB D/B/A INTERBANK, FSB',
       'HARVEST BANK OF MARYLAND', 'BANK OF THE EASTERN SHORE',
       'FORT LEE FEDERAL SAVINGS BANK, FSB', 'FIDELITY BANK',
       'COVENANT BANK & TRUST', 'NEW CITY BANK', 'GLOBAL COMMERCE BANK',
       'HOME SAVINGS OF AMERICA', 'CENTRAL BANK OF GEORGIA', 'SCB BANK',
       'CHARTER NATIONAL BANK AND TRUST', 'BANKEAST',
       'PATRIOT BANK MINNESOTA', 'TENNESSEE COMMERCE BANK',
       'FIRST GUARANTY BANK AND TRUST COMPANY OF JACKSONVILLE',
       'AMERICAN EAGLE SAVINGS BANK', 'THE FIRST STATE BANK',
       'CENTRAL FLORIDA STATE BANK', 'WESTERN NATIONAL BANK',
       'PREMIER COMMUNITY BANK OF THE EMERALD COAST',
       'CENTRAL PROGRESSIVE BANK', 'POLK COUNTY BANK',
       'COMMUNITY BANK OF ROCKMART', 'SUNFIRST BANK',
       'MID CITY BANK, INC.', 'ALL AMERICAN BANK',
       'COMMUNITY BANKS OF COLORADO', 'COMMUNITY CAPITAL BANK',
       'DECATUR FIRST BANK', 'OLD HARBOR BANK', 'COUNTRY BANK',
       'FIRST STATE BANK', 'BLUE RIDGE SAVINGS BANK, INC.',
       'PIEDMONT COMMUNITY BANK', 'SUN SECURITY BANK', 'THE RIVERBANK',
       'FIRST INTERNATIONAL BANK', 'CITIZENS BANK OF NORTHERN CALIFORNIA',
       'BANK OF THE COMMONWEALTH', 'THE FIRST NATIONAL BANK OF FLORIDA',
       'CREEKSIDE BANK', 'PATRIOT BANK OF GEORGIA', 'FIRST CHOICE BANK',
       'FIRST SOUTHERN NATIONAL BANK', 'LYDIAN PRIVATE BANK',
       'PUBLIC SAVINGS BANK', 'THE FIRST NATIONAL BANK OF OLATHE',
       'BANK OF WHITMAN', 'BANK OF SHOREWOOD',
       'INTEGRA BANK NATIONAL ASSOCIATION', 'BANKMERIDIAN, N.A.',
       'VIRGINIA BUSINESS BANK', 'BANK OF CHOICE',
       'LANDMARK BANK OF FLORIDA', 'SOUTHSHORE COMMUNITY BANK',
       'SUMMIT BANK', 'FIRST PEOPLES BANK', 'HIGH TRUST BANK',
       'ONE GEORGIA BANK', 'SIGNATURE BANK', 'COLORADO CAPITAL BANK',
       'FIRST CHICAGO BANK & TRUST', 'MOUNTAIN HERITAGE BANK',
       'FIRST COMMERCIAL BANK OF TAMPA BAY', 'MCINTOSH STATE BANK',
       'ATLANTIC BANK AND TRUST', 'FIRST HERITAGE BANK',
       'FIRST GEORGIA BANKING COMPANY', 'ATLANTIC SOUTHERN BANK',
       'COASTAL BANK', 'COMMUNITY CENTRAL BANK', 'THE PARK AVENUE BANK',
       'FIRST CHOICE COMMUNITY BANK', 'CORTEZ COMMUNITY BANK',
       'FIRST NATIONAL BANK OF CENTRAL FLORIDA', 'HERITAGE BANKING GROUP',
       'ROSEMOUNT NATIONAL BANK', 'SUPERIOR BANK', 'NEXITY BANK',
       'NEW HORIZONS BANK', 'BARTOW COUNTY BANK', 'NEVADA COMMERCE BANK',
       'WESTERN SPRINGS NATIONAL BANK AND TRUST', 'THE BANK OF COMMERCE',
       'LEGACY BANK', 'FIRST NATIONAL BANK OF DAVIS',
       'VALLEY COMMUNITY BANK', 'SAN LUIS TRUST BANK, FSB',
       'CHARTER OAK BANK', 'CITIZENS BANK OF EFFINGHAM', 'HABERSHAM BANK',
       'CANYON NATIONAL BANK', 'BADGER STATE BANK', 'PEOPLES STATE BANK',
       'SUNSHINE STATE COMMUNITY BANK', 'COMMUNITY FIRST BANK CHICAGO',
       'NORTH GEORGIA BANK', 'AMERICAN TRUST BANK',
       'FIRST COMMUNITY BANK', 'FIRSTIER BANK', 'EVERGREEN STATE BANK',
       'UNITED WESTERN BANK', 'THE BANK OF ASHEVILLE',
       'COMMUNITYSOUTH BANK & TRUST', 'ENTERPRISE BANKING COMPANY',
       'OGLETHORPE BANK', 'FIRST COMMERCIAL BANK OF FLORIDA',
       'COMMUNITY NATIONAL BANK', 'FIRST SOUTHERN BANK',
       'UNITED AMERICAS BANK, N.A.', 'APPALACHIAN COMMUNITY BANK, FSB',
       'CHESTATEE STATE BANK', 'THE BANK OF MIAMI,N.A.', 'EARTHSTAR BANK',
       'PARAMOUNT BANK', 'FIRST BANKING CENTER',
       'ALLEGIANCE BANK OF NORTH AMERICA', 'GULF STATE COMMUNITY BANK',
       'COPPER STAR BANK', 'DARBY BANK & TRUST CO.',
       'TIFTON BANKING COMPANY', 'FIRST VIETNAMESE AMERICAN BANK',
       'PIERCE COMMERCIAL BANK', 'WESTERN COMMERCIAL BANK', 'K BANK',
       'FIRST ARIZONA SAVINGS, A FSB', 'HILLCREST BANK',
       'FIRST SUBURBAN NATIONAL BANK',
       'THE FIRST NATIONAL BANK OF BARNESVILLE', 'THE GORDON BANK',
       'PROGRESS BANK OF FLORIDA', 'FIRST BANK OF JACKSONVILLE',
       'WESTBRIDGE BANK AND TRUST COMPANY',
       'SECURITY SAVINGS BANK, F.S.B.', 'SHORELINE BANK', 'WAKULLA BANK',
       'NORTH COUNTY BANK', 'HAVEN TRUST BANK FLORIDA',
       'MARITIME SAVINGS BANK', 'BRAMBLE SAVINGS BANK',
       'THE PEOPLES BANK', 'FIRST COMMERCE COMMUNITY BANK',
       'BANK OF ELLIJAY', 'ISN BANK', 'HORIZON BANK',
       'SONOMA VALLEY BANK', 'LOS PADRES BANK', 'BUTTE COMMUNITY BANK',
       'PACIFIC STATE BANK', 'SHOREBANK',
       'IMPERIAL SAVINGS AND LOAN ASSOCIATION',
       'INDEPENDENT NATIONAL BANK', 'COMMUNITY NATIONAL BANK AT BARTOW',
       'PALOS BANK AND TRUST COMPANY', 'RAVENSWOOD BANK', 'LIBERTYBANK',
       'THE COWLITZ BANK', 'COASTAL COMMUNITY BANK',
       'BAYSIDE SAVINGS BANK', 'NORTHWEST BANK & TRUST',
       'HOME VALLEY BANK', 'SOUTHWESTUSA BANK', 'COMMUNITY SECURITY BANK',
       'THUNDER BANK', 'WILLIAMSBURG FIRST NATIONAL BANK',
       'CRESCENT BANK AND TRUST COMPANY', 'STERLING BANK',
       'MAINSTREET SAVINGS BANK, FSB', 'OLDE CYPRESS COMMUNITY BANK',
       'TURNBERRY BANK', 'METRO BANK OF DADE COUNTY',
       'FIRST NATIONAL BANK OF THE SOUTH', 'WOODLANDS BANK',
       'HOME NATIONAL BANK', 'USA BANK', 'IDEAL FEDERAL SAVINGS BANK',
       'BAY NATIONAL BANK', 'HIGH DESERT STATE BANK',
       'FIRST NATIONAL BANK', 'PENINSULA BANK', 'NEVADA SECURITY BANK',
       'WASHINGTON FIRST INTERNATIONAL BANK', 'TIERONE BANK',
       'ARCOLA HOMESTEAD SAVINGS BANK', 'SUN WEST BANK',
       'GRANITE COMMUNITY BANK, NA', 'BANK OF FLORIDA - TAMPA',
       'BANK OF FLORIDA - SOUTHWEST', 'BANK OF FLORIDA - SOUTHEAST',
       'PINEHURST BANK', 'MIDWEST BANK AND TRUST COMPANY',
       'SOUTHWEST COMMUNITY BANK', 'NEW LIBERTY BANK',
       'SATILLA COMMUNITY BANK', '1ST PACIFIC BANK OF CALIFORNIA',
       'TOWNE BANK OF ARIZONA', 'ACCESS BANK', 'THE BANK OF BONIFAY',
       'BC NATIONAL BANKS', 'CHAMPION BANK', 'CF BANCORP',
       'WESTERNBANK PUERTO RICO', 'R-G PREMIER BANK OF PUERTO RICO',
       'EUROBANK', 'WHEATLAND BANK', 'PEOTONE BANK AND TRUST COMPANY',
       'LINCOLN PARK SAVINGS BANK', 'NEW CENTURY BANK',
       'CITIZENS BANK AND TRUST COMPANY OF CHICAGO', 'BROADWAY BANK',
       'AMCORE BANK, NATIONAL ASSOCIATION', 'CITY BANK', 'TAMALPAIS BANK',
       'INNOVATIVE BANK', 'BUTLER BANK',
       'RIVERSIDE NATIONAL BANK OF FLORIDA', 'AMERICANFIRST BANK',
       'FIRST FEDERAL BANK OF NORTH FLORIDA', 'LAKESIDE COMMUNITY BANK',
       'BEACH FIRST NATIONAL BANK', 'DESERT HILLS BANK',
       'UNITY NATIONAL BANK', 'KEY WEST BANK', 'MCINTOSH COMMERCIAL BANK',
       'STATE BANK OF AURORA', 'FIRST LOWNDES BANK', 'BANK OF HIAWASSEE',
       'APPALACHIAN COMMUNITY BANK', 'ADVANTA BANK CORP.',
       'CENTURY SECURITY BANK', 'AMERICAN NATIONAL BANK',
       'STATEWIDE BANK', 'OLD SOUTHERN BANK', 'LIBERTYPOINTE BANK',
       'CENTENNIAL BANK', 'WATERFIELD BANK', 'BANK OF ILLINOIS',
       'SUN AMERICAN BANK', 'RAINIER PACIFIC BANK',
       'CARSON RIVER COMMUNITY BANK', 'LA JOLLA BANK, FSB',
       'GEORGE WASHINGTON SAVINGS BANK', 'THE LA COSTE NATIONAL BANK',
       'MARCO COMMUNITY BANK', '1ST AMERICAN STATE BANK OF MINNESOTA',
       'AMERICAN MARINE BANK', 'FIRST REGIONAL BANK',
       'COMMUNITY BANK AND TRUST', 'MARSHALL BANK, N.A.',
       'FLORIDA COMMUNITY BANK', 'FIRST NATIONAL BANK OF GEORGIA',
       'COLUMBIA RIVER BANK', 'EVERGREEN BANK', 'CHARTER BANK',
       'BANK OF LEETON', 'PREMIER AMERICAN BANK',
       'BARNES BANKING COMPANY', 'ST. STEPHEN STATE BANK',
       'TOWN COMMUNITY BANK & TRUST',
       'FIRST FEDERAL BANK OF CALIFORNIA, F.S.B.',
       'IMPERIAL CAPITAL BANK', "INDEPENDENT BANKERS' BANK",
       'NEW SOUTH FEDERAL SAVINGS BANK', 'CITIZENS STATE BANK',
       'PEOPLES FIRST COMMUNITY BANK', 'ROCKBRIDGE COMMERCIAL BANK',
       'SOLUTIONSBANK', 'VALLEY CAPITAL BANK, N.A.',
       'REPUBLIC FEDERAL BANK, N.A.', 'GREATER ATLANTIC BANK',
       'BENCHMARK BANK', 'AMTRUST BANK', 'THE TATTNALL BANK',
       'FIRST SECURITY NATIONAL BANK', 'THE BUCKHEAD COMMUNITY BANK',
       'COMMERCE BANK OF SOUTHWEST FLORIDA',
       'PACIFIC COAST NATIONAL BANK', 'ORION BANK',
       'CENTURY BANK, F.S.B.', 'UNITED COMMERCIAL BANK',
       'GATEWAY BANK OF ST. LOUIS', 'PROSPERAN BANK',
       'HOME FEDERAL SAVINGS BANK', 'UNITED SECURITY BANK',
       'NORTH HOUSTON BANK', 'MADISONVILLE STATE BANK',
       'CITIZENS NATIONAL BANK', 'PARK NATIONAL BANK',
       'PACIFIC NATIONAL BANK', 'CALIFORNIA NATIONAL BANK',
       'SAN DIEGO NATIONAL BANK', 'COMMUNITY BANK OF LEMONT',
       'BANK USA, N.A.', 'FIRST DUPAGE BANK', 'RIVERVIEW COMMUNITY BANK',
       'BANK OF ELMWOOD', 'FLAGSHIP NATIONAL BANK',
       'HILLCREST BANK FLORIDA', 'AMERICAN UNITED BANK', 'PARTNERS BANK',
       'SAN JOAQUIN BANK', 'SOUTHERN COLORADO NATIONAL BANK',
       'JENNINGS STATE BANK', 'WARREN BANK', 'GEORGIAN BANK',
       'IRWIN UNION BANK, F.S.B.', 'IRWIN UNION BANK AND TRUST COMPANY',
       'VENTURE BANK', 'BRICKWELL COMMUNITY BANK', 'CORUS BANK, N.A.',
       'PLATINUM COMMUNITY BANK', 'VANTUS BANK', 'INBANK',
       'FIRST BANK OF KANSAS CITY', 'AFFINITY BANK', 'MAINSTREET BANK',
       'BRADFORD BANK', 'GUARANTY BANK', 'CAPITALSOUTH BANK',
       'FIRST COWETA BANK', 'EBANK', 'COMMUNITY BANK OF NEVADA',
       'COMMUNITY BANK OF ARIZONA', 'UNION BANK, NATIONAL ASSOCIATION',
       'COLONIAL BANK', 'DWELLING HOUSE SAVINGS AND LOAN ASSOCIATION',
       'COMMUNITY FIRST BANK',
       'COMMUNITY NATIONAL BANK OF SARASOTA COUNTY', 'MUTUAL BANK',
       'FIRST BANKAMERICANO', 'PEOPLES COMMUNITY BANK', 'INTEGRITY BANK',
       'FIRST STATE BANK OF ALTUS', 'SECURITY BANK OF JONES COUNTY',
       'SECURITY BANK OF HOUSTON COUNTY', 'SECURITY BANK OF BIBB COUNTY',
       'SECURITY BANK OF NORTH METRO', 'SECURITY BANK OF NORTH FULTON',
       'SECURITY BANK OF GWINNETT COUNTY', 'WATERFORD VILLAGE BANK',
       'TEMECULA VALLEY BANK', 'VINEYARD BANK', 'BANKFIRST',
       'FIRST PIEDMONT BANK', 'BANK OF WYOMING', 'FOUNDERS BANK',
       'MILLENNIUM STATE BANK OF TEXAS',
       'FIRST NATIONAL BANK OF DANVILLE', 'THE ELIZABETH STATE BANK',
       'ROCK RIVER BANK', 'FIRST STATE BANK OF WINCHESTER',
       'JOHN WARNER BANK', 'MIRAE BANK', 'METROPACIFIC BANK',
       'NEIGHBORHOOD COMMUNITY BANK', 'COMMUNITY BANK OF WEST GEORGIA',
       'FIRST NATIONAL BANK OF ANTHONY', 'COOPERATIVE BANK',
       'SOUTHERN COMMUNITY BANK', 'BANK OF LINCOLNWOOD',
       'STRATEGIC CAPITAL BANK', 'BANKUNITED, FSB', 'WESTSOUND BANK',
       'AMERICA WEST BANK', 'CITIZENS COMMUNITY BANK',
       'SILVERTON BANK, NA', 'FIRST BANK OF IDAHO',
       'FIRST BANK OF BEVERLY HILLS', 'MICHIGAN HERITAGE BANK',
       'AMERICAN SOUTHERN BANK', 'GREAT BASIN BANK OF NEVADA',
       'AMERICAN STERLING BANK', 'NEW FRONTIER BANK', 'CAPE FEAR BANK',
       'OMNI NATIONAL BANK', 'TEAMBANK, NA', 'COLORADO NATIONAL BANK',
       'FIRSTCITY BANK', 'FREEDOM BANK OF GEORGIA',
       'SECURITY SAVINGS BANK', 'HERITAGE COMMUNITY BANK',
       'SILVER FALLS BANK', 'PINNACLE BANK OF OREGON',
       'CORN BELT BANK & TRUST CO.', 'RIVERSIDE BANK OF THE GULF COAST',
       'SHERMAN COUNTY BANK', 'COUNTY BANK', 'ALLIANCE BANK',
       'FIRSTBANK FINANCIAL SERVICES', 'OCALA NATIONAL BANK',
       'SUBURBAN FSB', 'MAGNETBANK', '1ST CENTENNIAL BANK',
       'BANK OF CLARK COUNTY', 'NATIONAL BANK OF COMMERCE',
       'SANDERSON STATE BANK', 'HAVEN TRUST BANK',
       'FIRST GEORGIA COMMUNITY BANK', 'PFF BANK & TRUST',
       'DOWNEY SAVINGS & LOAN', 'COMMUNITY BANK', 'SECURITY PACIFIC BANK',
       'FRANKLIN BANK, SSB', 'FREEDOM BANK', 'ALPHA BANK & TRUST',
       'MERIDIAN BANK', 'MAIN STREET BANK',
       'WASHINGTON MUTUAL BANK, (INCLUDING ITS SUBSIDIARY WASHINGTON MUTUAL BANK FSB)',
       'AMERIBANK', 'SILVER STATE BANK', 'COLUMBIAN BANK & TRUST',
       'FIRST PRIORITY BANK', 'FIRST HERITAGE BANK, NA',
       'FIRST NATIONAL BANK OF NEVADA', 'INDYMAC BANK',
       'FIRST INTEGRITY BANK, NA', 'ANB FINANCIAL, NA', 'HUME BANK',
       'DOUGLASS NATIONAL BANK', 'MIAMI VALLEY BANK', 'NETBANK',
       'METROPOLITAN SAVINGS BANK', 'BANK OF EPHRAIM', 'RELIANCE BANK',
       'GUARANTY NATIONAL BANK OF TALLAHASSEE', 'DOLLAR SAVINGS BANK',
       'PULASKI SAVINGS BANK', 'FIRST NATIONAL BANK OF BLANCHARDVILLE',
       'SOUTHERN PACIFIC BANK', 'FARMERS BANK OF CHENEYVILLE',
       'BANK OF ALAMO', 'AMTRADE INTERNATIONAL BANK',
       'UNIVERSAL FEDERAL SAVINGS BANK', 'CONNECTICUT BANK OF COMMERCE',
       'NET 1ST NATIONAL BANK', 'NEXTBANK, NA',
       'OAKWOOD DEPOSIT BANK CO.', 'BANK OF SIERRA BLANCA',
       'HAMILTON BANK, NA', 'SINCLAIR NATIONAL BANK',
       'SUPERIOR BANK, FSB', 'MALTA NATIONAL BANK',
       'FIRST ALLIANCE BANK & TRUST CO.',
       'NATIONAL STATE BANK OF METROPOLIS', 'BANK OF HONOLULU'],
      dtype=object)

In [34]:
df_banks['acq'] = df_banks['Acquiring Institution'].str.upper()
df_banks['acq'].unique()

array(['LEGEND BANK, N. A.', 'ROYAL SAVINGS BANK', 'CONWAY BANK',
       'UNITED FIDELITY BANK, FSB', 'FIRST-CITIZENS BANK & TRUST COMPANY',
       'WHITNEY BANK', 'CACHE VALLEY BANK', 'STATE BANK OF TEXAS',
       "TODAY'S BANK", 'UNITED BANK', 'THE BANK OF FAYETTE COUNTY',
       'TWIN CITY BANK', 'FIDELITY BANK', 'REPUBLIC BANK OF CHICAGO',
       'BANCO POPULAR DE PUERTO RICO', 'FIRST NBC BANK', 'BANKVISTA',
       'BANK OF SOUTHERN CALIFORNIA, N.A.', 'HOWARD BANK',
       'PROVIDENCE BANK, LLC', 'COMMUNITY & SOUTHERN BANK',
       'ALVA STATE BANK & TRUST COMPANY',
       'LANDMARK BANK, NATIONAL ASSOCIATION', 'GREAT SOUTHERN BANK',
       'BAY BANK, FSB', 'PALMETTO STATE BANK', 'FIRST CHOICE BANK',
       'WASHINGTONFIRST BANK', 'SUNWEST BANK', 'BANCFIRST',
       'SPIRIT OF TEXAS BANK, SSB', 'FIRST FEDERAL BANK OF FLORIDA',
       'PLAINSCAPITAL BANK', 'NO ACQUIRER',
       'FIRST FIDELITY BANK, NATIONAL ASSOCIATION', 'CB&S BANK, INC.',
       'NICOLET NATIONAL BANK', 'C1 BANK',
       'FIRST TENNESSEE BANK, NATIONAL ASSOCIATION', 'PLAZA BANK',
       'NORTH SHORE BANK, FSB', 'WESTERN STATE BANK', 'SYNOVUS BANK',
       'CAPITAL BANK, N.A.', 'HAMILTON STATE BANK',
       'CERTUSBANK, NATIONAL ASSOCIATION', 'FIRSTATLANTIC BANK',
       'YOUR COMMUNITY BANK',
       'FIRST SCOTTSDALE BANK, NATIONAL ASSOCIATION',
       'HERITAGEBANK OF THE SOUTH', 'LIBERTY BANK AND TRUST COMPANY',
       'FIRST MINNESOTA BANK', 'BANK OF SULLIVAN',
       'HEARTLAND BANK AND TRUST COMPANY', 'CENTENNIAL BANK',
       'SIMMONS FIRST NATIONAL BANK', 'STEARNS BANK N.A.', 'SMARTBANK',
       'OLD PLANK TRAIL COMMUNITY BANK, NATIONAL ASSOCIATION',
       'REPUBLIC BANK & TRUST COMPANY', 'FIRST MIDWEST BANK',
       'HINSDALE BANK & TRUST COMPANY', 'METCALF BANK',
       'FIRST NATIONAL BANK OF THE GULF COAST', 'REGIONAL MISSOURI BANK',
       'AMERIS BANK', 'CLAYTON BANK AND TRUST', 'HARBOR COMMUNITY BANK',
       'FIRST COMMUNITY BANK', 'FIRST STATE BANK',
       'BANK OF NORTH CAROLINA', 'F & M BANK', 'SOUTHERN STATES BANK',
       'BANESCO USA', 'PACIFIC PREMIER BANK', 'FIRST FEDERAL BANK',
       'SONABANK', 'ALMA BANK', 'THE HUNTINGTON NATIONAL BANK',
       'INTERNATIONAL BANK OF CHICAGO', 'STEARNS BANK, N.A.',
       'METRO CITY BANK', 'FIRST MERCHANTS BANK, NATIONAL ASSOCIATION',
       'BARRINGTON BANK & TRUST COMPANY, NATIONAL ASSOCIATION',
       'U.S. BANK, N.A.', 'FIRST RESOURCE BANK',
       'CENTERSTATE BANK OF FLORIDA, N.A.', 'WASHINGTON FEDERAL',
       'SUMMIT BANK', 'GRINNELL STATE BANK', 'CENTURY BANK OF GEORGIA',
       'PREMIER BANK', 'BANK MIDWEST, N.A.',
       'STATE BANK AND TRUST COMPANY', '1ST UNITED BANK',
       'BLACKHAWK BANK & TRUST', 'NORTHFIELD BANK', 'CENTRAL BANK',
       'AMERICAN FIRST NATIONAL BANK', 'TRI COUNTIES BANK',
       'SOUTHERN BANK AND TRUST COMPANY', 'CHARTERBANK',
       'GEORGIA COMMERCE BANK', 'INLAND BANK & TRUST',
       'HERITAGE BANK OF THE SOUTH', 'SABADELL UNITED BANK, N.A.',
       'ENTERPRISE BANK & TRUST', 'COLUMBIA STATE BANK',
       'OLD NATIONAL BANK', 'SCBT NATIONAL ASSOCIATION', 'XENITH BANK',
       'AMERICAN MOMENTUM BANK', 'THE FOOTHILLS BANK',
       'PREMIER AMERICAN BANK, N.A.', 'POINTS WEST COMMUNITY BANK',
       'NORTHBROOK BANK & TRUST COMPANY',
       'FIRST AMERICAN BANK AND TRUST COMPANY', 'STONEGATE BANK',
       'FIRST CITIZENS BANK AND TRUST COMPANY, INC.',
       'FLORIDA COMMUNITY BANK, A DIVISION OF PREMIER AMERICAN BANK, N.A.',
       'TALMER BANK & TRUST', 'BANK OF THE OZARKS',
       'TRUSTMARK NATIONAL BANK', 'SUPERIOR BANK, NATIONAL ASSOCIATION',
       'ALOSTAR BANK OF COMMERCE', 'CITIZENS SOUTH BANK',
       'CITY NATIONAL BANK', 'ADVANTAGE NATIONAL BANK GROUP',
       'SEAWAY BANK AND TRUST COMPANY', 'THE PAULS VALLEY NATIONAL BANK',
       'FIRST CALIFORNIA BANK', 'BANK OF MARIN', 'ROYAL BANK',
       'FIRST MICHIGAN BANK', 'BANKSOUTH', 'RENASANT BANK',
       'MCFARLAND STATE BANK', 'BANK 7', 'FIRST BANK',
       'FIRST SOUTHERN BANK', 'FARMERS & MERCHANTS SAVINGS BANK',
       'SOUTHERN BANK', 'PEOPLES BANK OF EAST TENNESSEE', 'POLONIA BANK',
       'LEVEL ONE BANK', 'VIST BANK', 'GRANDPOINT BANK', 'HERITAGE BANK',
       'MANUFACTURERS AND TRADERS TRUST COMPANY (M&T BANK)',
       'HILLCREST BANK, N.A.', 'MORRIS BANK', 'BAY CITIES BANK',
       'PROVIDENCE BANK', 'MIDLAND STATES BANK', 'GBC INTERNATIONAL BANK',
       'WHIDBEY ISLAND BANK', 'FOUNDATION BANK', 'CUSTOMERS BANK',
       'WESTAMERICA BANK', 'PACIFIC WESTERN BANK', 'RABOBANK, N.A.',
       'URBAN PARTNERSHIP BANK', 'RIVER COMMUNITY BANK, N.A.',
       'HOME FEDERAL BANK', 'SOUTH VALLEY BANK & TRUST', 'ROUNDBANK',
       'THE BENNINGTON STATE BANK', 'IBERIABANK', 'COMMERCIAL BANK',
       'NAFH NATIONAL BANK', 'RCB BANK', 'NEW CENTURY BANK',
       'FIRST AMERICAN BANK', 'THE SAVANNAH BANK, N.A.', 'UMPQUA BANK',
       'EAST WEST BANK', 'GREAT WESTERN BANK', 'THE JEFFERSON BANK',
       'EVERBANK', 'COULEE BANK', 'FIRSTMERIT BANK, N.A.',
       'BANK OF ANN ARBOR', 'COMMERCE BANK OF ARIZONA', 'PRINSBANK',
       'UNION BANK, N.A.', 'COMMUNITY FIRST BANK', 'BANKLIBERTY',
       'SCOTIABANK DE PUERTO RICO', 'ORIENTAL BANK AND TRUST',
       'WHEATON BANK & TRUST', 'MB FINANCIAL BANK, N.A.', 'HARRIS N.A.',
       'CENTER BANK', "PEOPLE'S UNITED BANK", 'TD BANK, N.A.',
       'NEW YORK COMMUNITY BANK', 'NORTHERN STATE BANK',
       'FIRST CITIZENS BANK', 'BANK OF UPSON',
       'THE NATIONAL BANK AND TRUST COMPANY', 'HOME BANK',
       'VALLEY NATIONAL BANK', 'HERITAGE BANK OF NEVADA',
       'ONEWEST BANK, FSB', 'COMMUNITY NATIONAL BANK',
       'MUTUAL OF OMAHA BANK', 'COMMUNITY DEVELOPMENT BANK, FSB',
       'UNITED VALLEY BANK', 'CHARTER BANK', 'SUNFLOWER BANK, N.A.',
       'FIRST STATE BANK OF ST. JOSEPH',
       'WASHINGTON FEDERAL SAVINGS AND LOAN ASSOCIATION',
       'THE INDEPENDENT BANKERSBANK (TIB)', 'BEAL BANK', 'HANCOCK BANK',
       'ARVEST BANK', 'CENTRAL BANK OF KANSAS CITY',
       'ALERUS FINANCIAL, N.A.', 'U.S. BANK N.A.',
       'TRI CITY NATIONAL BANK', 'CITIZENS BUSINESS BANK', 'LEGACY BANK',
       'FIRST FINANCIAL BANK, N.A.', 'CORTRUST BANK N.A.',
       'GREAT AMERICAN BANK', 'BBVA COMPASS', 'MIDFIRST BANK',
       'BRANCH BANKING & TRUST COMPANY, (BB&T)', 'PNC BANK, N.A.',
       'UNITED CENTRAL BANK', 'CROWN BANK', 'HERRING BANK',
       'EVANS BANK, N.A.', 'CALIFORNIA BANK & TRUST',
       'CENTRAL BANK & TRUST', 'THE PRIVATEBANK AND TRUST COMPANY',
       'GALENA STATE BANK AND TRUST COMPANY', 'THE HARVARD STATE BANK',
       'THE FIRST NATIONAL BANK OF BEARDSTOWN', 'STATE BANK OF LINCOLN',
       'WILSHIRE STATE BANK', 'BANK OF KANSAS', 'UNITED COMMUNITY BANK',
       'MORTON COMMUNITY BANK', 'BANKUNITED', 'KITSAP BANK',
       'NORTH JERSEY COMMUNITY BANK', 'BANK OF NORTH GEORGIA',
       'NEVADA STATE BANK', 'FIRST FEDERAL SAVINGS AND LOAN ASSOCIATION',
       'NORTHEAST GEORGIA BANK', 'BANK OF NEVADA', 'CITIZENS BANK',
       'WASHINGTON TRUST BANK OF SPOKANE',
       'THE CARLINVILLE NATIONAL BANK', 'TIB BANK', 'REGIONS BANK',
       'BANK OF ESSEX', 'THE PECOS COUNTY STATE BANK', 'PROSPERITY BANK',
       'FIFTH THIRD BANK', 'NATIONAL BANK', 'MONROE BANK & TRUST',
       'JP MORGAN CHASE BANK',
       'THE CITIZENS SAVINGS BANK, PIONEER COMMUNITY BANK, INC.',
       'CITIZENS BANK & TRUST', 'SUNTRUST BANK',
       'FIRST INTERNATIONAL BANK AND TRUST',
       'PULASKI BANK AND TRUST COMPANY', 'SECURITY BANK',
       'THE CITIZENS BANKING COMPANY', 'ING DIRECT',
       'ALLEGHENY VALLEY BANK OF PITTSBURGH', 'FAR WEST BANK',
       'UNION STATE BANK', 'HANCOCK BANK OF FLORIDA', 'EARTHSTAR BANK',
       'THE PARK BANK', 'SABINE STATE BANK & TRUST',
       'CHICAGO COMMUNITY BANK', 'HUDSON UNITED BANK', 'BANK LEUMI USA',
       'THE STATE BANK & TRUST COMPANY',
       'THE SECURITY STATE BANK OF PECOS',
       'ISRAEL DISCOUNT BANK OF NEW YORK', 'DELTA TRUST & BANK',
       'SUPERIOR FEDERAL, FSB', 'NORTH VALLEY BANK',
       'SOUTHERN NEW HAMPSHIRE BANK & TRUST', 'BANTERRA BANK OF MARION',
       'BANK OF THE ORIENT'], dtype=object)

In [35]:
df1 = (pd.merge(df_banks, df, how='inner',
                left_on='bnk',
                right_on='comp'
               ))
print(df1.shape)
df1.head()

# didn't find anything for the failed banks

(0, 33)

Empty DataFrame
Columns: [Bank Name, City, ST, CERT, Acquiring Institution, Closing Date, Updated Date, closingdate, updateddate, bnk, acq, Date received, Product, Sub-product, Issue, Sub-issue, Consumer complaint narrative, Company public response, Company, State, ZIP code, Tags, Consumer consent provided?, Submitted via, Date sent to company, Company response to consumer, Timely response?, Consumer disputed?, Complaint ID, datereceived, datesent, comp, new]
Index: []

In [36]:
df2 = (pd.merge(df_banks, df, how='inner',
                left_on='acq',
                right_on='comp'
               ))
print(df2.shape)
df2.head(2)

# there are some complaints about the Acquiring Institutions

(5666, 33)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,closingdate,updateddate,bnk,acq,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,datereceived,datesent,comp,new
0,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,29-Jan-19,2015-02-27,2019-01-29,DORAL BANK,BANCO POPULAR DE PUERTO RICO,06/18/2019,"Money transfer, virtual currency, or money ser...",International money transfer,Fraud or scam,NaN,NaN,NaN,BANCO POPULAR DE PUERTO RICO,TX,NaN,Older American,NaN,Web,06/18/2019,Closed with explanation,Yes,NaN,3278572,2019-06-18,2019-06-18,BANCO POPULAR DE PUERTO RICO,"Money transfer, virtual currency, or money ser..."
1,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,29-Jan-19,2015-02-27,2019-01-29,DORAL BANK,BANCO POPULAR DE PUERTO RICO,06/12/2019,Debt collection,Auto debt,False statements or representation,Indicated you were committing crime by not pay...,NaN,Company has responded to the consumer and the ...,BANCO POPULAR DE PUERTO RICO,FL,34741,NaN,Consent not provided,Web,06/12/2019,Closed with explanation,Yes,NaN,3272924,2019-06-12,2019-06-12,BANCO POPULAR DE PUERTO RICO,Debt collection

In [37]:
(df2.groupby(by='Acquiring Institution')
    .agg({"Complaint ID": pd.Series.nunique})
    .sort_values("Complaint ID", ascending=False)
)

                              Complaint ID
Acquiring Institution
Banco Popular de Puerto Rico           763
Synovus Bank                           672
New York Community Bank                489
MidFirst Bank                          307
IBERIABANK                             226
Old National Bank                      109
East West Bank                         102
First Midwest Bank                      79
City National Bank                      68
Pacific Western Bank                    19
United Community Bank                   14

In [38]:
(df2.groupby(by='new')
    .agg({"Complaint ID": pd.Series.nunique})
    .sort_values("Complaint ID", ascending=False)
)

                                                    Complaint ID
new
Mortgage                                                    1059
Checking or savings account                                  993
Credit card or prepaid card                                  423
Credit reporting, credit repair services, or ot...           160
Debt collection                                              104
Payday loan, title loan, or personal loan                     55
Money transfer, virtual currency, or money service            26
Vehicle loan or lease                                         26
Student loan                                                   2

# Result: didn't find much information from the Failed Bank List.