<a href="https://colab.research.google.com/github/Nov05/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/fdic_failed_bank_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# created by nov05 on 2019-06-24

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

https://catalog.data.gov/dataset/fdic-failed-bank-list  
https://docs.python.org/3/howto/unicode.html#the-string-type

In [0]:
# url="http://www.fdic.gov/bank/individual/failed/banklist_utf8.csv"
url = "https://drive.google.com/uc?id=16R-U0x0Cc3tt4UfzmtvTy3z7rjdW8AkJ"
my_data = pd.read_csv(url, encoding='8859') # really?

In [13]:
print(my_data.shape)
my_data.head()

(556, 7)

                                           Bank Name  ... Updated Date
0                               The Enloe State Bank  ...    18-Jun-19
1                Washington Federal Bank for Savings  ...     1-Feb-19
2    The Farmers and Merchants State Bank of Argonia  ...    21-Feb-18
3                                Fayette County Bank  ...    29-Jan-19
4  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...  ...    22-Mar-18

[5 rows x 7 columns]

In [14]:
# check NAs
my_data.isnull().sum()

Bank Name                0
City                     0
ST                       0
CERT                     0
Acquiring Institution    0
Closing Date             0
Updated Date             0
dtype: int64