In [7]:
import pandas as pd

In [8]:
import os 
os.getcwd()

'/Users/karthikmahendra'

In [23]:
file_path = '/Users/karthikmahendra/Downloads/billboard/1950.csv'

In [24]:
df = pd.read_csv(file_path)

In [25]:
df.head()

   Position                          Artist       Song Title
0         1  Gordon Jenkins and The Weavers  Goodnight Irene
1         2                   Nat King Cole        Mona Lisa
2         3                     Anton Karas  Third Man Theme
3         4            Gary and Bing Crosby       Sam's Song
4         5            Gary and Bing Crosby    Simple Melody

In [26]:
import glob

In [30]:
path = r'/Users/karthikmahendra/Downloads/billboard'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0,encoding = "ISO-8859-1")
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

/Users/karthikmahendra/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [29]:
frame.sample(10)

,Artist,Position,PositionÊ,Song Title
1913,Brownstone,NaN,34.0,If You Love Me
3794,Bruno Mars,15.0,NaN,Just The Way You Are
386,Vanilla Ice,NaN,57.0,Play That Funky Music
6171,Parliament,NaN,92.0,Tear The Roof Off The Sucker
1326,Neil Diamond,NaN,77.0,Yesterday's Songs
3324,Omarion,45.0,NaN,Ice Box
3700,Jay-Z and Alicia Keys,21.0,NaN,Empire State of Mind
730,Duran Duran,NaN,41.0,Come Undone
400,UB40,NaN,71.0,The Way You Do The Things You Do
3741,Maroon 5,62.0,NaN,Misery