<a href="https://colab.research.google.com/github/ElisabethShah/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/LS_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import re

In [0]:
plotly.tools.set_credentials_file(username='elisabethdawn', api_key='UdLMj8B6qByw1MXxyCnM')

In [0]:
congress = pd.read_csv('https://raw.githubusercontent.com/ElisabethShah/'
                       'DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/master/'
                       'data/PersonalWealth2013', 
                       header=0,
                       usecols=[0, 1, 2, 3, 4, 5],
                       names=['name', 'chamber', 'party', 'min_net_worth', 
                              'avg_net_worth', 'max_net_worth'])

In [4]:
congress.head()

                     name chamber  ... avg_net_worth max_net_worth
0  Darrell Issa (R-Calif)       H  ...  $448,425,019  $604,600,004
1      Mark Warner (D-Va)       S  ...  $254,168,650  $413,203,000
2  John K. Delaney (D-Md)       H  ...  $222,410,577  $335,782,999
3    Jared Polis (D-Colo)       H  ...  $213,224,214  $356,220,997
4     Dave Trott (R-Mich)       H  ...  $200,509,228  $311,073,000

[5 rows x 6 columns]

In [5]:
congress.tail()

                          name chamber  ... avg_net_worth max_net_worth
528   Ruben Hinojosa (D-Texas)       H  ...   -$1,865,466    $1,314,995
529   Jeff Fortenberry (R-Neb)       H  ...   -$2,042,997      $359,998
530     Emanuel Cleaver (D-Mo)       H  ...   -$2,291,495       $54,998
531  Alcee L. Hastings (D-Fla)       H  ...   -$4,732,002   -$2,115,006
532    David Valadao (R-Calif)       H  ...  -$11,592,002      $814,993

[5 rows x 6 columns]

In [6]:
congress.describe(include='all')

                        name chamber  ... avg_net_worth max_net_worth
count                    533     533  ...           533           533
unique                   533       2  ...           515           500
top     Thomas Massie (R-Ky)       H  ...            $0            $0
freq                       1     433  ...             6             6

[4 rows x 6 columns]

In [0]:
removepunc = str.maketrans({'$': None, ',': None})

In [0]:
congress['min_net_worth'] = congress['min_net_worth'].str.translate(removepunc)
congress['avg_net_worth'] = congress['avg_net_worth'].str.translate(removepunc)
congress['max_net_worth'] = congress['max_net_worth'].str.translate(removepunc)

congress['min_net_worth'] = congress['min_net_worth'].astype(float)
congress['avg_net_worth'] = congress['avg_net_worth'].astype(float)
congress['max_net_worth'] = congress['max_net_worth'].astype(float)

In [9]:
congress.describe(include='all')

                        name chamber  ... avg_net_worth  max_net_worth
count                    533     533  ...  5.330000e+02   5.330000e+02
unique                   533       2  ...           NaN            NaN
top     Thomas Massie (R-Ky)       H  ...           NaN            NaN
freq                       1     433  ...           NaN            NaN
mean                     NaN     NaN  ...  8.069579e+06   1.279594e+07
std                      NaN     NaN  ...  3.061713e+07   4.617892e+07
min                      NaN     NaN  ... -1.159200e+07  -2.115006e+06
25%                      NaN     NaN  ...  3.075080e+05   5.250000e+05
50%                      NaN     NaN  ...  1.029505e+06   1.634992e+06
75%                      NaN     NaN  ...  3.808003e+06   6.105000e+06
max                      NaN     NaN  ...  4.484250e+08   6.046000e+08

[11 rows x 6 columns]

In [0]:
congress['state_abbr'] = congress['name'].str.extract('-([^\s]+?)\)')

In [11]:
congress.describe(include='all')

                        name chamber  ... max_net_worth  state_abbr
count                    533     533  ...  5.330000e+02         533
unique                   533       2  ...           NaN          50
top     Thomas Massie (R-Ky)       H  ...           NaN       Calif
freq                       1     433  ...           NaN          54
mean                     NaN     NaN  ...  1.279594e+07         NaN
std                      NaN     NaN  ...  4.617892e+07         NaN
min                      NaN     NaN  ... -2.115006e+06         NaN
25%                      NaN     NaN  ...  5.250000e+05         NaN
50%                      NaN     NaN  ...  1.634992e+06         NaN
75%                      NaN     NaN  ...  6.105000e+06         NaN
max                      NaN     NaN  ...  6.046000e+08         NaN

[11 rows x 7 columns]

In [12]:
congress['state_abbr'].unique()

array(['Calif', 'Va', 'Md', 'Colo', 'Mich', 'Texas', 'Conn', 'Fla',
       'Wash', 'NY', 'Tenn', 'Idaho', 'Ohio', 'NJ', 'Mass', 'Maine', 'ND',
       'Wis', 'Ariz', 'Ga', 'Ky', 'La', 'Mo', 'NM', 'Mont', 'NC', 'Ill',
       'Pa', 'SD', 'Wyo', 'Iowa', 'Ala', 'WVa', 'Del', 'Ore', 'Okla',
       'RI', 'Ind', 'Vt', 'SC', 'Minn', 'Ark', 'Nev', 'Utah', 'NH', 'Neb',
       'Miss', 'Kan', 'Hawaii', 'Alaska'], dtype=object)

In [0]:
states = pd.read_html('StateTable.html')[0]

In [14]:
states.head()

        State Traditionalabbreviation Otherabbreviations
0     Alabama                    Ala.                NaN
1      Alaska                  Alaska                NaN
2     Arizona                   Ariz.                NaN
3    Arkansas                    Ark.                NaN
4  California                  Calif.               Cal.

In [0]:
states.columns = ['state', 'trad_abbr', 'other_abbr']

In [0]:
deletechars = str.maketrans({'.': None, ' ': None})

In [0]:
states['no_punc'] = states['trad_abbr'].str.translate(deletechars)

In [18]:
states['no_punc'].unique()

array(['Ala', 'Alaska', 'Ariz', 'Ark', 'Calif', 'Colo', 'Conn', 'Del',
       'DC', 'Fla', 'Ga', 'Hawaii', 'Idaho', 'Ill', 'Ind', 'Iowa', 'Kans',
       'Ky', 'La', 'Maine', 'Md', 'Mass', 'Mich', 'Minn', 'Miss', 'Mo',
       'Mont', 'Nebr', 'Nev', 'NH', 'NJ', 'NMex', 'NY', 'NC', 'NDak',
       'Ohio', 'Okla', 'Oreg', 'Pa', 'RI', 'SC', 'SDak', 'Tenn', 'Tex',
       'Utah', 'Vt', 'Va', 'Wash', 'WVa', 'Wis', 'Wyo'], dtype=object)

In [0]:
congress = congress.merge(states[['state', 'no_punc']], 
                          left_on='state_abbr', right_on='no_punc',
                          how='left')

congress = congress.drop(columns=['no_punc'])

In [21]:
congress[congress['state'].isnull()]['state_abbr'].unique()

array(['Texas', 'ND', 'NM', 'SD', 'Ore', 'Neb', 'Kan'], dtype=object)

In [0]:
state_lookup = {'Texas': 'Texas', 
                'ND': 'North Dakota', 
                'NM': 'New Mexico', 
                'SD': 'South Dakota', 
                'Ore': 'Oregon', 
                'Neb':'Nebraska', 
                'Kan': 'Kansas'}

In [0]:
for state_abbr in state_lookup:
  congress.loc[congress['state_abbr']==state_abbr, 'State'] = state_lookup[state_abbr]

In [25]:
congress.describe(include='all')

                        name chamber party  ...  state_abbr       state  State
count                    533     533   533  ...         533         466     67
unique                   533       2     3  ...          50          43      7
top     Thomas Massie (R-Ky)       H     R  ...       Calif  California  Texas
freq                       1     433   299  ...          54          54     38
mean                     NaN     NaN   NaN  ...         NaN         NaN    NaN
std                      NaN     NaN   NaN  ...         NaN         NaN    NaN
min                      NaN     NaN   NaN  ...         NaN         NaN    NaN
25%                      NaN     NaN   NaN  ...         NaN         NaN    NaN
50%                      NaN     NaN   NaN  ...         NaN         NaN    NaN
75%                      NaN     NaN   NaN  ...         NaN         NaN    NaN
max                      NaN     NaN   NaN  ...         NaN         NaN    NaN

[11 rows x 9 columns]

In [26]:
congress[congress['state_abbr']=='Neb'][['state_abbr', 'state']].describe()

       state_abbr  state
count           5    0.0
unique          1    0.0
top           Neb    NaN
freq            5    NaN

In [0]:
congress = congress.drop(columns=['state_abbr'])

In [0]:
house = congress[congress['chamber']=='H']
senate = congress[congress['chamber']=='S']

In [30]:
house.describe(include='all')

                             name chamber  ...       state  State
count                         433     433  ...         380     53
unique                        433       1  ...          43      7
top     Luis V. Gutierrez (D-Ill)       H  ...  California  Texas
freq                            1     433  ...          52     36
mean                          NaN     NaN  ...         NaN    NaN
std                           NaN     NaN  ...         NaN    NaN
min                           NaN     NaN  ...         NaN    NaN
25%                           NaN     NaN  ...         NaN    NaN
50%                           NaN     NaN  ...         NaN    NaN
75%                           NaN     NaN  ...         NaN    NaN
max                           NaN     NaN  ...         NaN    NaN

[11 rows x 8 columns]

In [31]:
senate.describe(include='all')

                       name chamber  ...      state         State
count                   100     100  ...         86            14
unique                  100       1  ...         43             7
top     Dick Durbin (D-Ill)       S  ...  Louisiana  North Dakota
freq                      1     100  ...          2             2
mean                    NaN     NaN  ...        NaN           NaN
std                     NaN     NaN  ...        NaN           NaN
min                     NaN     NaN  ...        NaN           NaN
25%                     NaN     NaN  ...        NaN           NaN
50%                     NaN     NaN  ...        NaN           NaN
75%                     NaN     NaN  ...        NaN           NaN
max                     NaN     NaN  ...        NaN           NaN

[11 rows x 8 columns]

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

df['text'] = df['state'] + '<br>' + \
    'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
    'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
    'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df['code'],
    z = df['total exports'].astype(float),
    locationmode = 'USA-states',
    text = df['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Millions USD")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2011 US Agriculture Exports by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~elisabethdawn/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [33]:
df.code.head()

0    AL
1    AK
2    AZ
3    AR
4    CA
Name: code, dtype: object