In [18]:
!pip install us

Collecting us
  Downloading https://files.pythonhosted.org/packages/72/83/8731cbf5afcf3434c0b24cfc520c11fd27bfc8a6878114662f4e3dbdab71/us-1.0.0.tar.gz
Collecting jellyfish==0.5.6 (from us)
  Downloading https://files.pythonhosted.org/packages/94/48/ddb1458d966f0a84e472d059d87a9d1527df7768a725132fc1d810728386/jellyfish-0.5.6.tar.gz (132kB)
     |████████████████████████████████| 133kB 6.9MB/s
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/b3/98/40/cb8be35d7779a0ae4372c84e7a585c947bfc41540fd8999e53
  Building wheel for jellyfish (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/3b/29/06/8d686d24f742cb89e7bde7f26f18cb9e89b3c8bcd6999cb12a
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.5.6 us-1.0.0

In [0]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import re
import us

In [0]:
plotly.tools.set_credentials_file(username='elisabethdawn', api_key='UdLMj8B6qByw1MXxyCnM')

In [0]:
congress = pd.read_csv('https://raw.githubusercontent.com/ElisabethShah/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/master/data/PersonalWealth2013')

In [4]:
congress.head()

                     Name  ...  Research by the Center for Responsive Politics
0  Darrell Issa (R-Calif)  ...  Research by the Center for Responsive Politics
1      Mark Warner (D-Va)  ...  Research by the Center for Responsive Politics
2  John K. Delaney (D-Md)  ...  Research by the Center for Responsive Politics
3    Jared Polis (D-Colo)  ...  Research by the Center for Responsive Politics
4     Dave Trott (R-Mich)  ...  Research by the Center for Responsive Politics

[5 rows x 7 columns]

In [5]:
congress.tail()

                          Name  ...  Research by the Center for Responsive Politics
528   Ruben Hinojosa (D-Texas)  ...  Research by the Center for Responsive Politics
529   Jeff Fortenberry (R-Neb)  ...  Research by the Center for Responsive Politics
530     Emanuel Cleaver (D-Mo)  ...  Research by the Center for Responsive Politics
531  Alcee L. Hastings (D-Fla)  ...  Research by the Center for Responsive Politics
532    David Valadao (R-Calif)  ...  Research by the Center for Responsive Politics

[5 rows x 7 columns]

In [6]:
congress.describe(include='all')

                          Name  ...  Research by the Center for Responsive Politics
count                      533  ...                                             533
unique                     533  ...                                               1
top     Amy Klobuchar (D-Minn)  ...  Research by the Center for Responsive Politics
freq                         1  ...                                             533

[4 rows x 7 columns]

In [0]:
congress['State'] = congress['Name'].str.extract('-(.+?)\)')

In [26]:
congress['State'].head()

0    Calif
1       Va
2       Md
3     Colo
4     Mich
Name: State, dtype: object

In [25]:
congress['State'].apply(us.states.lookup)

0                None
1            Virginia
2            Maryland
3                None
4                None
5               Texas
6                None
7                None
8                None
9                None
10               None
11               None
12               None
13           New York
14               None
15              Idaho
16               Ohio
17         New Jersey
18         New Jersey
19           Virginia
20               None
21              Texas
22               None
23              Maine
24       North Dakota
25               None
26               None
27           Virginia
28               None
29           New York
            ...
503    North Carolina
504              None
505          New York
506              None
507          New York
508              None
509              None
510         Louisiana
511              None
512              None
513              None
514            Hawaii
515              None
516           Georgia
517              None
518             Idaho
519              None
520              None
521    North Carolina
522          New York
523              None
524              None
525             Texas
526              None
527    North Carolina
528             Texas
529              None
530          Missouri
531              None
532              None
Name: State, Length: 533, dtype: object

In [17]:
congress.describe(include='all')

                          Name  ...  State
count                      533  ...    533
unique                     533  ...     53
top     Amy Klobuchar (D-Minn)  ...  Calif
freq                         1  ...     53

[4 rows x 8 columns]

In [0]:
house = congress[congress['Chamber']=='H']
senate = congress[congress['Chamber']=='S']

In [8]:
house.describe(include='all')

                        Name  ...  Research by the Center for Responsive Politics
count                    433  ...                                             433
unique                   433  ...                                               1
top     Joe Barton (R-Texas)  ...  Research by the Center for Responsive Politics
freq                       1  ...                                             433

[4 rows x 7 columns]

In [9]:
senate.describe(include='all')

                      Name  ...  Research by the Center for Responsive Politics
count                  100  ...                                             100
unique                 100  ...                                               1
top     Tom Carper (D-Del)  ...  Research by the Center for Responsive Politics
freq                     1  ...                                             100

[4 rows x 7 columns]

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

df['text'] = df['state'] + '<br>' + \
    'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
    'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
    'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df['code'],
    z = df['total exports'].astype(float),
    locationmode = 'USA-states',
    text = df['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Millions USD")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2011 US Agriculture Exports by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~elisabethdawn/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [11]:
df.code.head()

0    AL
1    AK
2    AZ
3    AR
4    CA
Name: code, dtype: object