<a href="https://colab.research.google.com/github/DylanGraves/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is the purpose of education? A look at the relationship between education, happiness, and suicide throughout the world.**

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import io

from IPython.display import display

pd.options.display.max_columns = None
pd.options.display.max_rows = 101
pd.set_option('display.max_colwidth', -1)

from google.colab import files

**Looking at the World Happiness Report data**

In [51]:
uploaded = files.upload()

In [0]:
hreport = pd.read_csv(io.BytesIO(uploaded['2017.csv']))

print(hreport.shape)

hreport.head()

(155, 12)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

**Looking at suicide data**

In [52]:
uploaded = files.upload()

Saving suicide.csv to suicide (4).csv

In [53]:
suicide = pd.read_csv(io.BytesIO(uploaded['suicide.csv']))

print(suicide.shape)

suicide.head()

(27820, 12)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [54]:
suicide = suicide.drop(['sex', 'age', 'country-year', 'HDI for year', 'generation', 'year', 'suicides/100k pop'], axis=1)

suicide.head()

   country  suicides_no  population  gdp_for_year ($)   gdp_per_capita ($)
0  Albania  21           312900      2,156,624,900      796
1  Albania  16           308000      2,156,624,900      796
2  Albania  14           289700      2,156,624,900      796
3  Albania  1            21800       2,156,624,900      796
4  Albania  9            274300      2,156,624,900      796

In [55]:
cols = [3, 4]

suicide = suicide.drop(suicide.columns[cols], axis=1)

suicide.head()

   country  suicides_no  population
0  Albania  21           312900
1  Albania  16           308000
2  Albania  14           289700
3  Albania  1            21800
4  Albania  9            274300

In [56]:
suicide = suicide.groupby(['country']).sum(axis=0)

print(suicide.shape)

suicide.head()

(101, 2)

                     suicides_no  population
country
Albania              1970         62325467
Antigua and Barbuda  11           1990228
Argentina            82219        1035985431
Armenia              1905         77348173
Aruba                101          1259677

In [57]:
suicide = suicide.reset_index()

print(suicide.shape)

suicide.head()

(101, 3)

               country  suicides_no  population
0  Albania              1970         62325467
1  Antigua and Barbuda  11           1990228
2  Argentina            82219        1035985431
3  Armenia              1905         77348173
4  Aruba                101          1259677

In [58]:
suicide['Suicides per 100k'] = suicide['suicides_no'] / (suicide['population'] / 100000)

print(suicide.shape)

suicide.tail()

(101, 4)

                  country  suicides_no  population  Suicides per 100k
96   United Arab Emirates  622          36502275    1.704003
97   United Kingdom        136805       1738767780  7.867928
98   United States         1034013      8054027201  12.838459
99   Uruguay               13138        84068943    15.627650
100  Uzbekistan            34803        486422532   7.154891

In [61]:
suicide.head(101)

                          country  suicides_no  population  Suicides per 100k
0    Albania                       1970         62325467    3.160827
1    Antigua and Barbuda           11           1990228     0.552700
2    Argentina                     82219        1035985431  7.936309
3    Armenia                       1905         77348173    2.462889
4    Aruba                         101          1259677     8.017928
5    Australia                     70111        542377786   12.926599
6    Austria                       50073        243853094   20.534084
7    Azerbaijan                    1656         111790300   1.481345
8    Bahamas                       93           6557048     1.418321
9    Bahrain                       463          16753926    2.763531
10   Barbados                      177          6213691     2.848548
11   Belarus                       59892        197372292   30.344685
12   Belgium                       62761        303302621   20.692535
13   Belize                        348          6289015     5.533458
14   Bosnia and Herzegovina        318          7327481     4.339827
15   Brazil                        226613       4856093548  4.666570
16   Bulgaria                      36388        231939958   15.688543
17   Cabo Verde                    42           452179      9.288357
18   Canada                        107561       826052183   13.021090
19   Chile                         40895        427625092   9.563284
20   Colombia                      53080        1107941966  4.790865
21   Costa Rica                    6792         102176788   6.647302
22   Croatia                       18429        91730351    20.090406
23   Cuba                          41418        251790133   16.449413
24   Cyprus                        412          11607462    3.549441
25   Czech Republic                43687        264106540   16.541431
26   Denmark                       15297        112182219   13.635851
27   Dominica                      0            66400       0.000000
28   Ecuador                       20660        344327990   6.000093
29   El Salvador                   11683        124683698   9.370110
30   Estonia                       7034         27090810    25.964525
31   Fiji                          304          8187391     3.713027
32   Finland                       33677        141925658   23.728620
33   France                        329127       1670756775  19.699277
34   Georgia                       3224         93598800    3.444489
35   Germany                       291262       2024875612  14.384192
36   Greece                        12368        316096105   3.912734
37   Grenada                       38           2347286     1.618891
38   Guatemala                     8149         305357837   2.668672
39   Guyana                        3426         16594589    20.645284
40   Hungary                       73891        248644256   29.717558
41   Iceland                       1108         8407904     13.178076
42   Ireland                       12574        109023686   11.533274
43   Israel                        11294        173071788   6.525616
44   Italy                         132060       1715043704  7.700095
45   Jamaica                       184          39481817    0.466037
46   Japan                         806902       3681024844  21.920580
47   Kazakhstan                    101546       377513869   26.898614
48   Kiribati                      53           741606      7.146652
49   Kuwait                        966          57109991    1.691473
50   Kyrgyzstan                    13090        115174187   11.365394
51   Latvia                        12770        44852640    28.471011
52   Lithuania                     28039        68085210    41.182219
53   Luxembourg                    1958         12953156    15.116007
54   Macau                         27           346542      7.791263
55   Maldives                      20           2900246     0.689597
56   Malta                         585          11227403    5.210466
57   Mauritius                     3894         33411909    11.654527
58   Mexico                        111139       2772959159  4.007957
59   Mongolia                      423          2167589     19.514770
60   Montenegro                    472          5834863     8.089307
61   Netherlands                   50833        475361269   10.693551
62   New Zealand                   14383        103090430   13.951829
63   Nicaragua                     2013         31742633    6.341629
64   Norway                        16992        127973087   13.277792
65   Oman                          33           8987087     0.367194
66   Panama                        3483         70265659    4.956902
67   Paraguay                      4783         124641969   3.837391
68   Philippines                   21330        1065068179  2.002689
69   Poland                        139098       866180029   16.058786
70   Portugal                      24061        261258816   9.209641
71   Puerto Rico                   9043         105386625   8.580785
72   Qatar                         574          21870545    2.624535
73   Republic of Korea             261730       1354944936  19.316652
74   Romania                       72777        575065963   12.655418
75   Russian Federation            1209742      3690802620  32.777207
76   Saint Kitts and Nevis         0            117300      0.000000
77   Saint Lucia                   230          3910520     5.881571
78   Saint Vincent and Grenadines  124          2437662     5.086841
79   San Marino                    4            78825       5.074532
80   Serbia                        24179        126140138   19.168363
81   Seychelles                    98           1392816     7.036105
82   Singapore                     10089        94242441    10.705368
83   Slovakia                      13437        111833713   12.015160
84   Slovenia                      10615        40268619    26.360477
85   South Africa                  7321         873130762   0.838477
86   Spain                         100202       1227661095  8.162025
87   Sri Lanka                     55641        182525626   30.483939
88   Suriname                      2166         11639269    18.609416
89   Sweden                        37795        253297131   14.921211
90   Switzerland                   26217        149994010   17.478698
91   Thailand                      110643       1584800281  6.981511
92   Trinidad and Tobago           4039         31243097    12.927656
93   Turkey                        10131        482640582   2.099078
94   Turkmenistan                  8624         115576818   7.461704
95   Ukraine                       319950       1286469184  24.870398
96   United Arab Emirates          622          36502275    1.704003
97   United Kingdom                136805       1738767780  7.867928
98   United States                 1034013      8054027201  12.838459
99   Uruguay                       13138        84068943    15.627650
100  Uzbekistan                    34803        486422532   7.154891

In [0]:
suicide.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [0]:
suicide.head(300)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
30,Albania,1989,female,15-24 years,5,299900,1.67,Albania1989,NaN,"2,335,124,988",833,Generation X
31,Albania,1989,female,25-34 years,2,266300,0.75,Albania1989,NaN,"2,335,124,988",833,Boomers
32,Albania,1989,female,55-74 years,1,149600,0.67,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
33,Albania,1989,female,5-14 years,0,321900,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
34,Albania,1989,female,75+ years,0,37000,0.00,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
35,Albania,1989,male,5-14 years,0,349700,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
36,Albania,1992,male,35-54 years,12,343800,3.49,Albania1992,NaN,"709,452,584",251,Boomers
37,Albania,1992,male,15-24 years,9,263700,3.41,Albania1992,NaN,"709,452,584",251,Generation X
38,Albania,1992,male,55-74 years,5,159500,3.13,Albania1992,NaN,"709,452,584",251,Silent
39,Albania,1992,male,25-34 years,7,245500,2.85,Albania1992,NaN,"709,452,584",251,Boomers
40,Albania,1992,female,15-24 years,7,292400,2.39,Albania1992,NaN,"709,452,584",251,Generation X
41,Albania,1992,female,25-34 years,4,267400,1.50,Albania1992,NaN,"709,452,584",251,Boomers
42,Albania,1992,female,35-54 years,2,323100,0.62,Albania1992,NaN,"709,452,584",251,Boomers
43,Albania,1992,female,55-74 years,1,164900,0.61,Albania1992,NaN,"709,452,584",251,Silent
44,Albania,1992,female,5-14 years,0,336700,0.00,Albania1992,NaN,"709,452,584",251,Millenials
45,Albania,1992,female,75+ years,0,38700,0.00,Albania1992,NaN,"709,452,584",251,G.I. Generation
46,Albania,1992,male,5-14 years,0,362900,0.00,Albania1992,NaN,"709,452,584",251,Millenials
47,Albania,1992,male,75+ years,0,23900,0.00,Albania1992,NaN,"709,452,584",251,G.I. Generation
48,Albania,1993,male,15-24 years,18,243300,7.40,Albania1993,NaN,"1,228,071,038",437,Generation X
49,Albania,1993,male,55-74 years,7,165000,4.24,Albania1993,NaN,"1,228,071,038",437,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
250,Albania,2009,male,55-74 years,0,234570,0.00,Albania2009,NaN,"12,044,212,904",4387,Silent
251,Albania,2009,male,75+ years,0,47331,0.00,Albania2009,NaN,"12,044,212,904",4387,Silent
252,Albania,2010,male,55-74 years,20,241852,8.27,Albania2010,0.722,"11,926,953,259",4359,Silent
253,Albania,2010,male,35-54 years,20,371611,5.38,Albania2010,0.722,"11,926,953,259",4359,Generation X
254,Albania,2010,male,25-34 years,9,179720,5.01,Albania2010,0.722,"11,926,953,259",4359,Generation X
255,Albania,2010,male,75+ years,2,50767,3.94,Albania2010,0.722,"11,926,953,259",4359,Silent
256,Albania,2010,male,15-24 years,10,279508,3.58,Albania2010,0.722,"11,926,953,259",4359,Millenials
257,Albania,2010,female,25-34 years,6,183579,3.27,Albania2010,0.722,"11,926,953,259",4359,Generation X
258,Albania,2010,female,75+ years,2,64415,3.10,Albania2010,0.722,"11,926,953,259",4359,Silent
259,Albania,2010,female,35-54 years,12,394593,3.04,Albania2010,0.722,"11,926,953,259",4359,Generation X
260,Albania,2010,female,55-74 years,7,241491,2.90,Albania2010,0.722,"11,926,953,259",4359,Silent
261,Albania,2010,female,15-24 years,6,263581,2.28,Albania2010,0.722,"11,926,953,259",4359,Millenials
262,Albania,2010,female,5-14 years,2,223969,0.89,Albania2010,0.722,"11,926,953,259",4359,Generation Z
263,Albania,2010,male,5-14 years,0,240939,0.00,Albania2010,0.722,"11,926,953,259",4359,Generation Z
264,Antigua and Barbuda,1985,female,15-24 years,0,7709,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Generation X
265,Antigua and Barbuda,1985,female,25-34 years,0,6344,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Boomers
266,Antigua and Barbuda,1985,female,35-54 years,0,6173,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Silent
267,Antigua and Barbuda,1985,female,5-14 years,0,7339,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Generation X
268,Antigua and Barbuda,1985,female,55-74 years,0,3778,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,G.I. Generation
269,Antigua and Barbuda,1985,female,75+ years,0,949,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,G.I. Generation
270,Antigua and Barbuda,1985,male,15-24 years,0,7667,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Generation X
271,Antigua and Barbuda,1985,male,25-34 years,0,6194,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Boomers
272,Antigua and Barbuda,1985,male,35-54 years,0,5970,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Silent
273,Antigua and Barbuda,1985,male,5-14 years,0,7304,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,Generation X
274,Antigua and Barbuda,1985,male,55-74 years,0,2723,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,G.I. Generation
275,Antigua and Barbuda,1985,male,75+ years,0,424,0.00,Antigua and Barbuda1985,NaN,"240,923,926",3850,G.I. Generation
276,Antigua and Barbuda,1986,female,15-24 years,0,7668,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Generation X
277,Antigua and Barbuda,1986,female,25-34 years,0,6209,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Boomers
278,Antigua and Barbuda,1986,female,35-54 years,0,6101,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Silent
279,Antigua and Barbuda,1986,female,5-14 years,0,6907,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Generation X
280,Antigua and Barbuda,1986,female,55-74 years,0,3764,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,G.I. Generation
281,Antigua and Barbuda,1986,female,75+ years,0,1014,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,G.I. Generation
282,Antigua and Barbuda,1986,male,15-24 years,0,7563,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Generation X
283,Antigua and Barbuda,1986,male,25-34 years,0,6023,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Boomers
284,Antigua and Barbuda,1986,male,35-54 years,0,5947,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Silent
285,Antigua and Barbuda,1986,male,5-14 years,0,6827,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,Generation X
286,Antigua and Barbuda,1986,male,55-74 years,0,2771,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,G.I. Generation
287,Antigua and Barbuda,1986,male,75+ years,0,476,0.00,Antigua and Barbuda1986,NaN,"290,440,148",4740,G.I. Generation
288,Antigua and Barbuda,1987,female,15-24 years,0,7583,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Generation X
289,Antigua and Barbuda,1987,female,25-34 years,0,6101,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Boomers
290,Antigua and Barbuda,1987,female,35-54 years,0,6059,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Silent
291,Antigua and Barbuda,1987,female,5-14 years,0,6623,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Generation X
292,Antigua and Barbuda,1987,female,55-74 years,0,3738,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,G.I. Generation
293,Antigua and Barbuda,1987,female,75+ years,0,1081,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,G.I. Generation
294,Antigua and Barbuda,1987,male,15-24 years,0,7421,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Generation X
295,Antigua and Barbuda,1987,male,25-34 years,0,5893,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Boomers
296,Antigua and Barbuda,1987,male,35-54 years,0,5927,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Silent
297,Antigua and Barbuda,1987,male,5-14 years,0,6499,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,Generation X
298,Antigua and Barbuda,1987,male,55-74 years,0,2798,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,G.I. Generation
299,Antigua and Barbuda,1987,male,75+ years,0,538,0.00,Antigua and Barbuda1987,NaN,"337,174,852",5595,G.I. Generation

**Installing PyDrive, etc.**

In [0]:
!pip install PyDrive

Collecting PyDrive
  Downloading https://files.pythonhosted.org/packages/52/e0/0e64788e5dd58ce2d6934549676243dc69d982f198524be9b99e9c2a4fd5/PyDrive-1.3.1.tar.gz (987kB)
    100% || 993kB 21.4MB/s
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.6.7)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.11.3)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.11.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.5)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.4)
Building wheels for collected packages: PyDrive
  Building wheel for PyDrive (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/fa/d2/9a/d3b6b506c2da98289e5d417215ce34b696db856643bad779f4
Successfully built PyDrive
Installing collected packages: PyDrive
Successfully installed PyDrive-1.3.1

In [0]:
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

**Checking out EdStatsData.csv**

In [0]:
download = drive.CreateFile({'id': '1rgSFJq-VzCuCxcRBk3VG03Icjs0fjfoQ'})
download.GetContentFile('EdStatsData.csv')

In [0]:
df = pd.read_csv('EdStatsData.csv')

print(df.shape)

(886930, 70)

In [0]:
df.tail(100)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
886830,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the pop...,PRJ.ATT.80UP.3.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.03,0.05,0.09,0.14,0.18,0.29,0.48,0.55,0.62,0.67,0.70,0.73,0.76,0.77,0.78,0.79,0.79,NaN
886831,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the pop...,PRJ.ATT.80UP.3.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.03,0.03,0.05,0.08,0.10,0.18,0.34,0.44,0.53,0.60,0.66,0.71,0.74,0.77,0.79,0.80,0.80,NaN
886832,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.S1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.09,NaN,NaN,NaN,NaN,0.07,NaN,NaN,0.06,0.05,0.03,0.03,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886833,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.S1.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,NaN,NaN,NaN,NaN,0.05,NaN,NaN,0.03,0.03,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886834,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.S1.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.07,NaN,NaN,NaN,NaN,0.06,NaN,NaN,0.05,0.04,0.03,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886835,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.2.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.12,NaN,NaN,NaN,NaN,0.12,NaN,NaN,0.12,0.12,0.12,0.11,0.10,0.09,0.09,0.08,0.07,0.07,0.06,0.05,0.05,0.04,0.04,0.03,0.03,NaN
886836,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.2.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.11,NaN,NaN,NaN,NaN,0.11,NaN,NaN,0.10,0.10,0.10,0.09,0.09,0.08,0.08,0.07,0.07,0.06,0.05,0.05,0.04,0.04,0.04,0.03,0.03,NaN
886837,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.2.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.11,NaN,NaN,NaN,NaN,0.11,NaN,NaN,0.11,0.11,0.11,0.10,0.10,0.09,0.08,0.08,0.07,0.06,0.06,0.05,0.05,0.04,0.04,0.03,0.03,NaN
886838,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.NED.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05,NaN,NaN,NaN,NaN,0.04,NaN,NaN,0.03,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886839,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.NED.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,0.01,NaN,NaN,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886840,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.NED.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886841,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.4.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.03,0.03,0.04,0.04,0.05,0.06,0.07,0.08,0.09,0.11,0.12,0.13,0.15,0.16,0.18,0.20,0.21,NaN
886842,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.4.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03,NaN,NaN,NaN,NaN,0.04,NaN,NaN,0.04,0.05,0.06,0.06,0.07,0.08,0.09,0.10,0.10,0.11,0.13,0.14,0.15,0.17,0.18,0.20,0.22,NaN
886843,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.4.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,0.03,NaN,NaN,0.03,0.04,0.05,0.05,0.06,0.07,0.08,0.09,0.10,0.11,0.12,0.13,0.15,0.16,0.18,0.20,0.21,NaN
886844,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13,NaN,NaN,NaN,NaN,0.12,NaN,NaN,0.11,0.10,0.09,0.08,0.07,0.06,0.06,0.05,0.05,0.04,0.03,0.03,0.02,0.02,0.02,0.01,0.01,NaN
886845,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.1.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13,NaN,NaN,NaN,NaN,0.12,NaN,NaN,0.10,0.09,0.08,0.07,0.06,0.06,0.05,0.04,0.04,0.03,0.03,0.02,0.02,0.02,0.02,0.01,0.01,NaN
886846,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.1.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13,NaN,NaN,NaN,NaN,0.12,NaN,NaN,0.10,0.10,0.09,0.08,0.07,0.06,0.05,0.05,0.04,0.04,0.03,0.03,0.02,0.02,0.02,0.01,0.01,NaN
886847,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.3.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.22,NaN,NaN,NaN,NaN,0.27,NaN,NaN,0.31,0.36,0.40,0.44,0.47,0.50,0.52,0.54,0.56,0.58,0.59,0.60,0.60,0.60,0.60,0.60,0.59,NaN
886848,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.3.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.26,NaN,NaN,NaN,NaN,0.30,NaN,NaN,0.34,0.38,0.41,0.44,0.47,0.50,0.52,0.53,0.55,0.56,0.57,0.57,0.58,0.58,0.58,0.58,0.57,NaN
886849,Zimbabwe,ZWE,Wittgenstein Projection: Percentage of the tot...,PRJ.ATT.ALL.3.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.24,NaN,NaN,NaN,NaN,0.28,NaN,NaN,0.32,0.37,0.41,0.44,0.47,0.50,0.52,0.54,0.56,0.57,0.58,0.59,0.59,0.59,0.59,0.59,0.58,NaN
886850,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.S1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.62,NaN,NaN,NaN,NaN,24.49,NaN,NaN,16.56,11.63,7.70,5.03,3.20,2.02,1.31,0.85,0.56,0.37,0.26,0.25,0.23,0.22,0.20,0.19,0.18,NaN
886851,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.S1.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.53,NaN,NaN,NaN,NaN,31.63,NaN,NaN,21.43,14.86,9.62,6.10,3.75,2.27,1.40,0.87,0.55,0.36,0.26,0.25,0.23,0.22,0.21,0.19,0.18,NaN
886852,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.S1.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.16,NaN,NaN,NaN,NaN,56.12,NaN,NaN,37.99,26.49,17.32,11.13,6.95,4.29,2.71,1.72,1.11,0.73,0.52,0.49,0.46,0.44,0.41,0.39,0.37,NaN
886853,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.2.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.62,NaN,NaN,NaN,NaN,307.23,NaN,NaN,311.17,324.92,313.27,296.28,272.52,247.13,227.05,207.05,185.18,166.28,147.89,133.76,120.77,110.55,98.53,88.57,79.78,NaN
886854,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.2.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.29,NaN,NaN,NaN,NaN,265.52,NaN,NaN,265.69,275.06,267.69,256.96,241.06,223.91,211.24,198.13,182.55,164.66,147.22,133.84,121.23,111.27,99.43,89.58,80.85,NaN
886855,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.2.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576.91,NaN,NaN,NaN,NaN,572.75,NaN,NaN,576.86,599.98,580.96,553.24,513.58,471.04,438.30,405.18,367.73,330.94,295.11,267.59,242.00,221.82,197.95,178.15,160.63,NaN
886856,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.NED.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.30,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886857,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.NED.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.52,NaN,NaN,NaN,NaN,0.60,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886858,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.NED.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.82,NaN,NaN,NaN,NaN,0.60,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
886859,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.4.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.09,NaN,NaN,NaN,NaN,1.12,NaN,NaN,1.23,1.42,1.54,1.64,1.71,1.76,1.83,1.89,1.91,1.93,1.93,1.96,1.99,2.05,2.05,2.07,2.09,NaN
886860,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.4.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.07,NaN,NaN,NaN,NaN,1.14,NaN,NaN,1.24,1.40,1.49,1.57,1.62,1.66,1.74,1.82,1.88,1.91,1.92,1.96,2.00,2.06,2.07,2.09,2.12,NaN
886861,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.4.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.16,NaN,NaN,NaN,NaN,2.25,NaN,NaN,2.47,2.82,3.02,3.21,3.33,3.42,3.58,3.72,3.79,3.84,3.85,3.92,3.99,4.11,4.12,4.16,4.20,NaN
886862,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.59,NaN,NaN,NaN,NaN,194.43,NaN,NaN,172.61,164.80,150.68,139.48,128.63,118.91,112.59,106.54,99.30,88.97,79.20,71.87,65.19,60.02,53.89,48.88,44.46,NaN
886863,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.1.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279.31,NaN,NaN,NaN,NaN,248.94,NaN,NaN,231.28,222.80,202.27,181.83,160.39,140.58,125.55,111.74,97.89,88.11,78.84,71.91,65.43,60.42,54.38,49.43,45.06,NaN
886864,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.1.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.91,NaN,NaN,NaN,NaN,443.37,NaN,NaN,403.89,387.61,352.94,321.31,289.02,259.49,238.14,218.28,197.19,177.08,158.04,143.78,130.62,120.44,108.27,98.31,89.52,NaN
886865,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.3.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233.06,NaN,NaN,NaN,NaN,235.61,NaN,NaN,244.09,262.86,263.41,260.83,252.91,243.26,238.34,232.86,223.98,214.84,204.65,198.76,193.15,190.68,183.67,178.78,174.63,NaN
886866,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.3.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204.42,NaN,NaN,NaN,NaN,204.06,NaN,NaN,214.56,233.42,238.69,240.70,237.23,231.59,229.82,227.05,220.79,212.75,203.72,198.88,193.88,191.94,185.35,180.80,176.95,NaN
886867,Zimbabwe,ZWE,Wittgenstein Projection: Population age 15-19 ...,PRJ.POP.1519.3.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437.48,NaN,NaN,NaN,NaN,439.67,NaN,NaN,458.65,496.28,502.09,501.53,490.13,474.85,468.17,459.91,444.77,427.58,408.37,397.64,387.03,382.62,369.02,359.58,351.58,NaN
886868,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.S1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.85,NaN,NaN,NaN,NaN,31.26,NaN,NaN,19.84,12.75,8.48,5.39,3.40,2.12,1.33,0.88,0.60,0.44,0.34,0.29,0.27,0.26,0.25,0.23,0.22,NaN
886869,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.S1.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.76,NaN,NaN,NaN,NaN,17.94,NaN,NaN,12.24,8.43,5.98,4.09,2.75,1.81,1.19,0.82,0.58,0.43,0.33,0.28,0.27,0.26,0.25,0.23,0.22,NaN
886870,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.S1.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.61,NaN,NaN,NaN,NaN,49.20,NaN,NaN,32.08,21.18,14.46,9.47,6.16,3.93,2.52,1.69,1.18,0.87,0.68,0.57,0.54,0.51,0.50,0.47,0.44,NaN
886871,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.2.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.80,NaN,NaN,NaN,NaN,114.40,NaN,NaN,105.17,99.56,99.34,93.21,86.91,79.71,72.54,67.16,61.91,56.74,51.53,46.37,42.44,38.77,35.90,32.36,29.42,NaN
886872,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.2.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.83,NaN,NaN,NaN,NaN,95.93,NaN,NaN,93.28,91.50,92.52,88.00,82.60,75.99,69.28,64.19,59.20,54.73,50.15,45.53,42.02,38.61,35.94,32.54,29.70,NaN
886873,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.2.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.63,NaN,NaN,NaN,NaN,210.33,NaN,NaN,198.45,191.06,191.85,181.20,169.51,155.69,141.82,131.35,121.11,111.47,101.68,91.90,84.46,77.38,71.84,64.91,59.12,NaN
886874,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.NED.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.55,NaN,NaN,NaN,NaN,2.13,NaN,NaN,0.99,0.45,0.22,0.18,0.18,0.17,0.16,0.16,0.15,0.14,0.13,0.12,0.12,0.11,0.11,0.10,0.10,NaN
886875,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.NED.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.87,NaN,NaN,NaN,NaN,1.90,NaN,NaN,0.94,0.46,0.24,0.22,0.20,0.19,0.17,0.16,0.15,0.14,0.13,0.12,0.12,0.11,0.11,0.10,0.10,NaN
886876,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.NED.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.42,NaN,NaN,NaN,NaN,4.03,NaN,NaN,1.93,0.91,0.45,0.39,0.38,0.35,0.33,0.31,0.30,0.28,0.26,0.25,0.24,0.22,0.22,0.20,0.19,NaN
886877,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.4.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.13,NaN,NaN,NaN,NaN,18.00,NaN,NaN,20.22,23.21,27.81,31.03,34.07,36.47,38.45,40.94,43.14,44.09,44.61,44.66,45.46,46.14,47.44,47.44,47.81,NaN
886878,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.4.MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.80,NaN,NaN,NaN,NaN,31.34,NaN,NaN,32.82,34.90,38.39,39.78,40.70,40.80,40.54,40.96,41.25,42.53,43.41,43.85,45.00,45.95,47.49,47.71,48.26,NaN
886879,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.4.MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.92,NaN,NaN,NaN,NaN,49.34,NaN,NaN,53.05,58.12,66.19,70.81,74.77,77.28,78.99,81.91,84.39,86.62,88.02,88.51,90.45,92.09,94.93,95.15,96.07,NaN
886880,Zimbabwe,ZWE,Wittgenstein Projection: Population age 20-24 ...,PRJ.POP.2024.1.FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.84,NaN,NaN,NaN,NaN,89.22,NaN,NaN,65.48,49.02,38.99,29.86,23.81,19.77,17.18,15.84,14.98,13.29,11.83,10.56,9.72,8.95,8.37,7.64,7.05,NaN

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
Country Name      886930 non-null object
Country Code      886930 non-null object
Indicator Name    886930 non-null object
Indicator Code    886930 non-null object
1970              72288 non-null float64
1971              35537 non-null float64
1972              35619 non-null float64
1973              35545 non-null float64
1974              35730 non-null float64
1975              87306 non-null float64
1976              37483 non-null float64
1977              37574 non-null float64
1978              37576 non-null float64
1979              36809 non-null float64
1980              89122 non-null float64
1981              38777 non-null float64
1982              37511 non-null float64
1983              38460 non-null float64
1984              38606 non-null float64
1985              90296 non-null float64
1986              39372 non-null float64
1987              38641 non-null float64
1988              38552 non-null float64
1989              37540 non-null float64
1990              124405 non-null float64
1991              74437 non-null float64
1992              75543 non-null float64
1993              75793 non-null float64
1994              77462 non-null float64
1995              131361 non-null float64
1996              76807 non-null float64
1997              73453 non-null float64
1998              84914 non-null float64
1999              118839 non-null float64
2000              176676 non-null float64
2001              123509 non-null float64
2002              124205 non-null float64
2003              130363 non-null float64
2004              128814 non-null float64
2005              184108 non-null float64
2006              140312 non-null float64
2007              137272 non-null float64
2008              134387 non-null float64
2009              142108 non-null float64
2010              242442 non-null float64
2011              146012 non-null float64
2012              147264 non-null float64
2013              137509 non-null float64
2014              113789 non-null float64
2015              131058 non-null float64
2016              16460 non-null float64
2017              143 non-null float64
2020              51436 non-null float64
2025              51436 non-null float64
2030              51436 non-null float64
2035              51436 non-null float64
2040              51436 non-null float64
2045              51436 non-null float64
2050              51436 non-null float64
2055              51436 non-null float64
2060              51436 non-null float64
2065              51436 non-null float64
2070              51436 non-null float64
2075              51436 non-null float64
2080              51436 non-null float64
2085              51436 non-null float64
2090              51436 non-null float64
2095              51436 non-null float64
2100              51436 non-null float64
Unnamed: 69       0 non-null float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

**Exploring EdStatsSeries.csv**

In [0]:
uploaded = files.upload()

Saving EdStatsSeries.csv to EdStatsSeries.csv

In [0]:
EdStatsSeries = pd.read_csv(io.BytesIO(uploaded['EdStatsSeries.csv']))

print(EdStatsSeries.shape)

EdStatsSeries.head()

(3665, 21)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Checking suicide.csv**

In [0]:
uploaded = files.upload()

Saving suicide.csv to suicide.csv

In [0]:
suicide = pd.read_csv(io.BytesIO(uploaded['suicide.csv']))

Suicide data can be somewhat unreliable, with underreporting in some countries, so we must be careful with our analysis.

In [0]:
suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [0]:
suicide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [0]:
suicide.shape

(27820, 12)

**Checking EdStatsCountry.csv**

In [0]:
uploaded = files.upload()

Saving EdStatsCountry.csv to EdStatsCountry.csv

In [0]:
EdStatsCountry = pd.read_csv(io.BytesIO(uploaded['EdStatsCountry.csv']))

print(EdStatsCountry.shape)

EdStatsCountry.head()

(241, 32)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accounts methodology.,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period for national accounts data: FY (from 2013 are CY). National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accounts methodology.,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2002.",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accounts methodology.,199196,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are rescaled.,1996.0,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accounts methodology.,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,1990,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accounts methodology.,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

**Checking EdStatsCountry-Series.csv**

In [0]:
uploaded = files.upload()

Saving EdStatsCountry-Series.csv to EdStatsCountry-Series.csv

In [0]:
EdStatsCountrySeries = pd.read_csv(io.BytesIO(uploaded['EdStatsCountry-Series.csv']))

print(EdStatsCountrySeries.shape)

EdStatsCountrySeries.head()

(613, 4)

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population Prospects,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population Prospects,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population Prospects,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population Prospects,NaN

**Checking EdStatsFootNote.csv**

In [0]:
uploaded = files.upload()

Saving EdStatsFootNote.csv to EdStatsFootNote.csv

In [0]:
EdStatsData = pd.read_csv(io.BytesIO(uploaded['EdStatsData.csv']))

print(EdStatsData.shape)

EdStatsData.head()